In [209]:
import numpy as np
import pandas as pd
import matplotlib as mpl
import math

class network(object):
    
    def __init__(self, input_size, hidden_size, output_size, learning_rate,
                epochs, train, test, prediction):
        self.input_size = input_size
        self.hidden_size = hidden_size
        self.output_size = output_size
        self.learning_rate = learning_rate
        self.epochs = epochs
        self.train = train
        self.test = test
        self.prediction = prediction
        self.input_weights = np.random.rand(self.hidden_size, self.input_size)
        self.hidden_weights = np.random.rand(self.output_size, self.hidden_size)
        self.hidden_bias = np.random.rand(self.hidden_size)
        self.output_bias = np.random.rand(self.output_size)
    
    def activate(self):
        input_nodes = self.train[self.train.columns[:-1]].as_matrix()
        target = self.train[self.train.columns[-1]].as_matrix()
        hidden = np.zeros(self.hidden_size)
        output = np.zeros(self.output_size)
        
        print (input_nodes[0])
        print (self.input_weights[0])
        
        for i in range(self.hidden_size):
            hidden[i] = 1 / (1 + math.e**(-np.dot(input_nodes[i], self.input_weights[i]) + (self.hidden_bias[i] * 1)))
            
        for i in range(self.output_size):
            output[i] = 1 / (1 + math.e**(-np.dot(hidden, self.hidden_weights[i]) + (self.hidden_bias[i] * 1)))
            
        print (hidden)
        print (output)
        
        return False
    
    def forward_pass(self):
        return False

    def backwards_pass(self):
        return False

In [210]:
train = pd.read_csv("optdigits_raining.csv", header=None)
test = pd.read_csv("optdigits_test.csv", header=None)

In [65]:
train.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,0,1,6,15,12,1,0,0,0,7,...,0,0,0,6,14,7,1,0,0,0
1,0,0,10,16,6,0,0,0,0,7,...,0,0,0,10,16,15,3,0,0,0
2,0,0,8,15,16,13,0,0,0,1,...,0,0,0,9,14,0,0,0,0,7
3,0,0,0,3,11,16,0,0,0,0,...,0,0,0,0,1,15,2,0,0,4
4,0,0,5,14,4,0,0,0,0,0,...,0,0,0,4,12,14,7,0,0,6

In [66]:
test.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,64
0,0,0,5,13,9,1,0,0,0,0,...,0,0,0,6,13,10,0,0,0,0
1,0,0,0,12,13,5,0,0,0,0,...,0,0,0,0,11,16,10,0,0,1
2,0,0,0,4,15,12,0,0,0,0,...,0,0,0,0,3,11,16,9,0,2
3,0,0,7,15,13,1,0,0,0,8,...,0,0,0,7,13,13,9,0,0,3
4,0,0,0,1,11,0,0,0,0,0,...,0,0,0,0,2,16,4,0,0,4

In [211]:
#normalize data sets

train[train.columns[-1]] = train[train.columns[-1]]/10.0
train[train.columns[:-1]] = train[train.columns[:-1]]/16.0

test[test.columns[-1]] = test[test.columns[-1]]/10.0
test[test.columns[:-1]] = test[test.columns[:-1]]/16.0

In [89]:
weights = np.random.rand(3)
weights

array([ 0.21598414,  0.60932128,  0.58970932])

In [110]:
np.dot(train.iloc[1], train.iloc[2])

9.88671875

In [212]:
digit_recognition = network(64, 30, 10, 3.0, 30, train, test, "results.csv")
digit_recognition.activate()

[ 0.      0.0625  0.375   0.9375  0.75    0.0625  0.      0.      0.
  0.4375  1.      0.375   0.375   0.625   0.      0.      0.      0.5     1.
  0.125   0.      0.6875  0.125   0.      0.      0.3125  1.      0.1875
  0.      0.3125  0.4375  0.      0.      0.4375  0.8125  0.1875  0.      0.5
  0.4375  0.      0.      0.25    0.75    0.      0.0625  0.8125  0.3125
  0.      0.      0.      0.875   0.5625  0.9375  0.5625  0.      0.      0.
  0.      0.375   0.875   0.4375  0.0625  0.      0.    ]
[ 0.60414836  0.94691084  0.05718158  0.15037635  0.10964617  0.32212585
  0.52876012  0.83976017  0.17210598  0.8010431   0.26007989  0.18507978
  0.93363543  0.39555959  0.67996614  0.85780226  0.76842867  0.62621531
  0.28961108  0.78308535  0.88993701  0.13154711  0.27724609  0.48082096
  0.24231684  0.84087345  0.13494877  0.99062418  0.04963288  0.1578465
  0.9485304   0.50936497  0.14365419  0.82527197  0.74363573  0.65538695
  0.08190041  0.37576599  0.73127697  0.15456219  0.04536107  0.96030714
  0.09952146  0.45385582  0.16170692  0.27245412  0.00554816  0.60044624
  0.39603111  0.17978898  0.02609662  0.48793665  0.89544848  0.69651716
  0.5905425   0.30155593  0.70472465  0.07013654  0.92869693  0.03778926
  0.95221378  0.08215866  0.23793119  0.28758258]
[ 0.99947624  0.99998807  0.99978407  0.99995092  0.99818736  0.99997067
  0.9952014   0.99985888  0.99998393  0.99999687  0.99959887  0.99971392
  0.99998982  0.99977834  0.99997528  0.99992807  0.99986151  0.99964779
  0.99927555  0.99998699  0.99996312  0.99994909  0.99814938  0.99928394
  0.99995085  0.99976906  0.99956249  0.9994836   0.99920931  0.99998824]
[ 0.99999964  0.99999764  0.99999957  0.99999775  0.9999998   0.99999898
  0.99999951  0.99999974  0.99999996  0.99999835]

False

In [185]:
a = np.zeros(123)
len(a)

123

In [223]:
train[test.columns[1]]
train.iloc[1].as_matrix()

array([ 0.    ,  0.    ,  0.625 ,  1.    ,  0.375 ,  0.    ,  0.    ,
        0.    ,  0.    ,  0.4375,  1.    ,  0.5   ,  1.    ,  0.3125,
        0.    ,  0.    ,  0.    ,  0.6875,  1.    ,  0.    ,  0.375 ,
        0.875 ,  0.1875,  0.    ,  0.    ,  0.75  ,  0.75  ,  0.    ,
        0.    ,  0.6875,  0.6875,  0.    ,  0.    ,  0.75  ,  0.75  ,
        0.    ,  0.    ,  0.5   ,  0.75  ,  0.    ,  0.    ,  0.4375,
        0.9375,  0.0625,  0.    ,  0.8125,  0.6875,  0.    ,  0.    ,
        0.    ,  1.    ,  0.5   ,  0.625 ,  0.9375,  0.1875,  0.    ,
        0.    ,  0.    ,  0.625 ,  1.    ,  0.9375,  0.1875,  0.    ,
        0.    ,  0.    ])